.small-img {
    width: 210px;
}

.img-investify {
    right: -105px;
    top: 74.5%;
}

.img-my-rent {
    left: -105px;
    top: 25%;
}

.svg-cross {
    left: -30px;
    top: -8%;
}

.svg-circle {
    left: 335px;
    top: 25%;
}

.svg-dot-group {
    left: -15px;
    top: 65%;
}
